{
  "test": ".*.ts$",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": null,
    "target": "es5",
    "loose": false,
    "keepClassNames": false,
    "minify": {
      "compress": {
        "unused": true
      },
      "mangle": true
    }
  },
  "module": {
    "type": "commonjs",
    "strict": false,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  }
}