sudo: false

os:
  - osx

env:
  - CODE_TESTS_PATH="$TRAVIS_BUILD_DIR/dist/test"

before_install:
  - if [ $TRAVIS_OS_NAME == "linux" ]; then
      export CXX="g++-4.9" CC="gcc-4.9" DISPLAY=:99.0;
      sh -e /etc/init.d/xvfb start;
      sleep 3;
    fi

install:
  - npm install
  - npm run lint
  - npm run vscode:prepublish

script:
  - npm test --silent
