version: 2
jobs:
  build:
    docker:
      - image: circleci/node:latest
    steps:   
      - checkout
      - run:
          name: update-npm 
          command: 'sudo npm install -g npm@latest'
      - run:
          name: npm install
          command: npm install
      - run:
          name: pre-publish
          command: npm run vscode:prepublish
  test:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - run:
          name: update-npm 
          command: 'sudo npm install -g npm@latest'    
      - run:
          name: Test
          command: npm test
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
